/* Table */
  .table-scroll {
	position: relative;
	width:100%;
	z-index: 1;
	margin: auto;
	overflow: auto;
	height: 635px;
  }
  .table-scroll table {
	width: 100%;
	min-width: 1280px;
	margin: auto;
	border-collapse: separate;
	border-spacing: 0;
  }
  .table-wrap {
	position: relative;
  }
  .table-scroll th,
  .table-scroll td {
	padding: 5px 10px;
	border: 1px solid #000;
	background: #fff;
	vertical-align: top;
  }
  .table-scroll thead th {
	background: #333;
	color: #fff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  }
  /* safari and ios need the tfoot itself to be position:sticky also */
  .table-scroll tfoot,
  .table-scroll tfoot th,
  .table-scroll tfoot td {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	background: #666;
	color: #fff;
	z-index:4;
  }
  
  a:focus {
	background: red;
  } /* testing links*/
  
  th:first-child {
	position: -webkit-sticky;
	position: sticky;
	z-index: 2;
	background: #ccc;
  }
  thead th:first-child,
  tfoot th:first-child {
	z-index: 5;
  }
  

  /* Footer */
  div.pag-space {
  padding: 10px 0;
  text-align: left;
  background-color:#f1f1f1;
}

button.pag-button {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 10px;
	border: 4px solid #494949 !important;
	cursor: pointer;
}

/* Select Box */
select.size-page {
  width: 100px;
  text-align-last: center;
  cursor: pointer;
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 150px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

/* Input Checkbox */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

  /* Submit Button */
  .button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  
  .button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
  }
  
