<div id="table-scroll" class="table-scroll">
    <table id="main-table" class="main-table">
    <thead>
      <tr class="green">
        <th>Selection</th>
        <th *ngFor="let column of config">{{column.header}}</th>
        
        <th>Submit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data.data; index as rowIndex">
        <td><label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label></td>
        <td (click)="onSelect(rowIndex)" *ngFor="let column of config; index as i">{{row[column.value]}}</td>
        
        <td><button type="button"  class="button button1" (click)="submit(row.id,row.status)"> Submit </button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
         <td colspan="100">
          <div class="pag-space">
            <button type="button" class="pag-button" style="margin: 0 5px;" (click)="changePage(0)"> First </button>
            <button type="button" class="pag-button"  style="margin: 0 5px;" (click)="changePage(this.pageNumber - 1)"> Prev </button>
            <select class="size-page"  style="margin: 0 5px;" [(ngModel)]="size" (change)="changePage(this.pageNumber)">
              <option selected value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
            <button type="button" class="pag-button"  style="margin: 0 5px;" (click)="changePage(this.pageNumber + 1)"> Next </button>
            <button type="button" class="pag-button"  style="margin: 0 5px;" (click)="changePage(this.data.lastPage)"> Last </button>
          </div>
         </td>
      </tr>
    </tfoot>
  </table>
</div>
